Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
src/.libs/
src/libyutani.la
src/libyutani_la-evdev.lo
src/libyutani_la-evdev.o
src/libyutani_la-udev.lo
src/libyutani_la-udev.o
src/yt_evdev_example
src/yt_evdev_example-yt_evdev_example.o
